# This is First Heading
## This is Second Heading
### This is Third Heading

# APSSDC Courses
    - Python
        - Python Web Apllication using Flask
        - Python Web Apllication Using Django
        - Ml(Machine Learning)
        - Data Science(DS)
    - C
    - Data Strucures
    - AWS
    - Gaming
    - Git

In [1]:
print("Hello")

Hello

In [3]:
a=50

Change Markdown mode-->esc+m
Run cell -->shift+enter
add below cell -->esc+b
add above cell -->esc+a
Delete Cell -->esc+2D

## File Handling
    --> Write
    --> read
    --> append

In [5]:
# Data Storing into File
data=open('mydata.txt','w')
mydata=input("Enter Somthing...!!!")
data.write(mydata)
data.close()

Enter Somthing...!!!hii this is vijay from apssdc

In [6]:
# Data Retriving/Display to the console
data=open('mydata.txt','r')
mydata=data.read()
print(mydata)
data.close()

hii this is vijay from apssdc

In [13]:
with open('mydata.txt','r') as data:
    mydata=data.read()
    print(mydata)

hii this is vijay from apssdc

In [11]:
with open('mydata2.txt','w') as data:
    mydata=input("Enter Somthing..!!!")
    data.write(mydata)

Enter Somthing..!!!hello jntua pulivendula..!!

In [21]:
with open('mydata2.txt','r') as data:
    mydata2=data.read()
    print(mydata2)

hello jntua pulivendula..!!

In [15]:
print(mydata+mydata2)

hii this is vijay from apssdchello jntua pulivendula..!!

In [16]:
with open('mixeddata.txt','w') as f:
    f.write(mydata+mydata2)

In [17]:
with open('mixeddata.txt','r') as f:
    print(f.read())

hii this is vijay from apssdchello jntua pulivendula..!!

### Finding Word count

In [25]:
with open('mixeddata.txt','r') as f_data:
    data=f_data.read()
    data=data.split()
    print(len(data))

8

In [24]:
data="hii this is vijay from apssdchello jntua pulivendula..!!"
data=data.split()
print(data)
print(len(data))

['hii', 'this', 'is', 'vijay', 'from', 'apssdchello', 'jntua', 'pulivendula..!!']
8

In [26]:
data

['hii',
 'this',
 'is',
 'vijay',
 'from',
 'apssdchello',
 'jntua',
 'pulivendula..!!']

In [29]:
print(data[0])
print(data[2])

hii
is

# To Find no of Charaters in the file

In [51]:
t_count=0
for i in range(len(data)):
    print(str(i+1)+").",data[i],"count-->",len(data[i]))
    t_count=t_count+len(data[i])
print("Total Charaters Count is ",t_count)

1). hii count--> 3
2). this count--> 4
3). is count--> 2
4). vijay count--> 5
5). from count--> 4
6). apssdchello count--> 11
7). jntua count--> 5
8). pulivendula..!! count--> 15
Total Charaters Count is  49

task-->1
    input:insert different data in to file like-->combination int,charate,special
        ex:ABChello123@!#$%^
    output:Total Charaters Count is -->8
            small letters-->5
            capital Letters-->3
            integers-->3
            special -->6
            total-->25

task--->2

input:hi hello welcome to appssdc 3 days of workshop
output:ih olleh emoclew ot cdssppa 3 syad fo pohskorw

In [ ]:
task-->3
input:123 152 3698 1478 15841 2697
output:6 8 26 20 19 24

In [ ]:
Task-->4
input:123 152 3698 1478 15841 2697
output:3  2    8    8     1     7 -->29

In [77]:
data="123 152 3698 1478 15841 2697"
data=data.split()
s=0
for eachdata in data:
    print(eachdata[-1],end=" ")
    s=s+int(eachdata[-1])
print("--->",s)

3 2 8 8 1 7 ---> 29

In [ ]:
Task-->5
1-->!
2-->@
3-->#
4-->$
5-->%
6-->^
7-->&
8-->*
9-->(
0-->)

input:8765431234
ouput:*&^%$#!@#$
    
input:*&^%$#!@#$
output:8765431234

In [ ]:
http://engineering.apssdc.in/register

In [69]:
data="python"
data[-2]

'o'

In [73]:
data=123
data=str(data)
print(int(data[-1]))
data2=152
data2=str(data2)
print(int(data2[-1]))

print(int(data[-1])+int(data2[-1]))

3
2
5

data=123
data=str(data)
data=list(data)
data=list(map(int,data))
sum(data)

In [64]:
data="123 152 3698 1478 15841 2697"
T_data=data.split()
for data in T_data:
    print(sum(list(map(int,list(data)))),end=" ")

6 8 26 20 19 24

In [31]:
for i in [1,2,3,4,5,6,7,8]:
    print(i)

1
2
3
4
5
6
7
8

In [44]:
for i in range(1,10+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [39]:
for i in range(10,1-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
    step 1         2,5,8      4,7
for(initialization;cond;incre/dec){
    3,6,9
    stements
}